body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.player-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.input-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.btn-wrapper {
  width: 100%;
  text-align: center;
}

.color-wrapper {
  display: flex;
  list-style: none;
}

.color {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

[type="radio"] {
  margin: 0;
}

.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.board-square {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #a7a7a7;
  transition: .25s background-color ease-in-out;
  margin: 5px;
}

.turn-progress {
  border: 1px solid #a7a7a7;
  width: 200px;
  margin-top: 25px;
  border-radius: 12.5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 25px auto;
}

.turn-progress-inner {
  height: 25px;
  background-color: #a7a7a7;
}

.scores {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  right: 0;
  margin: 12px;
  padding: 12px;
  top: 0;
  border: 1px solid #a7a7a7;
}